<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_blue_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <receiver android:name=".ShortCommandWidget">


            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/short_command_widget_info" />
        </receiver>

        <activity
            android:name=".activities.MainActivity"
            android:label="MAINACTIVITY"
            android:exported="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.ElementInfoActivity"
            android:label="ELEMENTINFOACTIVITY"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="SETTINGS"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.FavoritePageActivity"
            android:label="FAVORITEPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.OrderActivity"
            android:label="ORDERPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.IonActivity"
            android:label="IONPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".settings.ExperimentalActivity"
            android:label="EXPERIMENTAL_PAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SolubilityActivity"
            android:label="SOLUBILITYPAGE"
            android:exported="true"
             >
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CalculatorActivity"
            android:label="CALCULATORPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.DictionaryActivity"
            android:label="DICTIONARYPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.IsotopesActivityExperimental"
            android:label="ISOTPOESPAGEEXP"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.AboutActivity"
            android:label="ABOUTPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.TableActivity"
            android:label="TABLEPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.ElectrodeActivity"
            android:label="ELECTRODEPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.SubmitActivity"
            android:label="SUBMITPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.ProActivity"
            android:label="SUBMITPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.LicensesActivity"
            android:label="LICENSESPAGE"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.EquationsActivity"
            android:label="EQUATIONSACTIVITY"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.phActivity"
            android:label="PHACTIVITY"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.PoissonActivity"
            android:label="POISSONACTIVITY"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.GeologyActivity"
            android:label="GEOLOGYACTIVITY"
            android:exported="true"

            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.settings.UnitActivity"
            android:label="activity_unit"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.tables.NuclideActivity"
            android:label="activity_nuclide"
            android:exported="true"
             
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="package.OtherActivity" />
            </intent-filter>
        </activity>
    </application>

</manifest>