<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jlindemann.science">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_blue"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_blue_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing"
            android:label="MAINACTIVITY"
            />

        <activity android:name="com.jlindemann.science.activities.SplashActivity" android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.ElementInfoActivity"
            android:theme="@style/AppTheme"
            android:label="ELEMENTINFOACTIVITY" />

        <activity
            android:name=".activities.SettingsActivity"
            android:theme="@style/AppTheme"
            android:label="SETTINGS" />

        <activity
            android:name=".activities.FavoritePageActivity"
            android:theme="@style/AppTheme"
            android:label="FAVORITEPAGE" />

        <activity
            android:name=".settings.ExperimentalActivity"
            android:theme="@style/AppTheme"
            android:label="EXPERIMENTAL_PAGE" />

        <activity
            android:name=".activities.SolubilityActivity"
            android:label="SOLUBILITYPAGE" />

        <activity
            android:name=".activities.CalculatorActivity"
            android:theme="@style/AppTheme"
            android:label="CALCULATORPAGE" />

        <activity
            android:name=".activities.DictionaryActivity"
            android:theme="@style/AppTheme"
            android:label="DICTIONARYPAGE" />

        <activity
            android:name=".activities.IsotopesActivityExperimental"
            android:theme="@style/AppTheme"
            android:label="ISOTPOESPAGEEXP" />

        <activity
            android:name=".activities.AboutActivity"
            android:theme="@style/AppTheme"
            android:label="ABOUTPAGE" />

        <activity
            android:name=".activities.TableActivity"
            android:theme="@style/AppTheme"
            android:label="TABLEPAGE" />

        <activity
            android:name=".activities.ElectrodeActivity"
            android:theme="@style/AppTheme"
            android:label="ELECTRODEPAGE" />

        <activity
            android:name=".activities.SubmitActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing"
            android:label="SUBMITPAGE" />

        <activity
            android:name=".activities.LicensesActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing"
            android:label="LICENSESPAGE" />

        <activity
            android:name=".activities.EquationsActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustNothing"
            android:label="EQUATIONSACTIVITY" />

    </application>

</manifest>